
.grade_level_tag {
    width: max-content;
    font-family: Spinnaker, Arial, sans-serif;
    color: black;
    opacity: 1;
    background-color: rgb(118, 167, 108);
    border: thin solid #374b33;
}
.word_set_size_span_tag {
    width: max-content;
    font-family: Spinnaker, Arial, sans-serif;
    color: black;
    opacity: 1;
    background-color: rgb(174, 214, 108);
    border: thin solid #4c5e2f;
}
