.answer-row-grid {
    display: grid; 
    grid-template-columns: 1fr 3fr 2fr 6fr 5fr;
    grid-gap: 1px; 
}

.answer-title-element {
    background-color: rgba(235, 243, 250, 0.4);
    border: thin solid grey;
    border-radius: 0.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer-text-element {
    background-color: rgba(236, 244, 250, 0.4);
    border: thin solid black;
    border-radius: 0.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer-container-element {
    background-color: rgba(236, 244, 250, 0.4);
    border: thin solid black;
    border-radius: 0.2vw;
    padding: 0.2vw;
}

.score_tile {
    /* border is set by the specific tile type class */
    border-radius: 0.2vw;
    height: 1.3vw;
    padding: 0.1vw;
    margin: 0.1vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.note_span_tag {
    width: max-content;
    font-family: Spinnaker, Arial, sans-serif;
    color: black;
    background-color: #d6c66c;
    border: thin solid #807642;
}

