body {
    margin: 0px;
}
.app {
    background-image: linear-gradient(rgb(183, 224, 240), rgb(85, 145, 168));
    padding: 2vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-container-width {
    width: 96vw;
}
