.feedback-panel{
    font-size: 1.5vw;
    background-color: rgb(205, 233, 255);
    width: 50%;
    margin: 1.5vw;
    padding: 0.5vw;
    color: black;
    border: thin solid black;
    border-radius: 0.5vw;
}
/* 
.feedback-header {
    font-size: 1.5vw;     / * formerly 1.2em; * /
} 
*/

.rating-button-spacing {
    padding: 0.5vw;
}
.feedback-text {
    font-size: 1.5vw;
    font-family: sans-serif;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: 0.5vw;
}
.feedback-button {
    font-size: 1.5vw;
    height: 3vw;
    padding: 0.4vw;
    margin: 0.2vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    border: thin solid black;
    border-radius: 0.2vw;
}

