.license-plate-frame {
    background-image: url(./css/license-plates/metal-sheet.jpg);
    background-size: cover;
    border-radius: 10px;
    width: 1000px;
    height: 600px;
    margin: 5px;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-of-license-frame-size {
    width: 95%;
    height: 15%;
    margin: 0 auto;
}
.license-plate-frame-interior {
    background-image: url(./css/license-plates/license-plate-oregon.jpg);
    background-size: cover;
    border-radius: 8px;
    width: 90%;
    height: 70%;
    border: 2px solid darkblue;
    padding: 20px;
    margin: 0 auto;
}
.license-plate-flex-container {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.answers-container {
    height: 100%;
    width: 100%;
}
