
.license-plate-editor-container {
    display: grid; 
    grid-template-rows: 3fr 3fr 3fr;
    grid-gap: 0px;
    row-gap: 0px;
    padding: 0px;
    margin: 0px;
    height: 34vw;
    /* height: 60%;
    max-height: 60%; */
}
.license-plate-text {
    width: 95%;
    height: 90%;
    border: thin dashed grey;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.license-plate-char {
    font-family: sans-serif;
    color: black;
    font-size: 15vw;
    transition: all 1s ease;
}
.input-no-border {
    border: none;
    background: none;
    text-align: center;
}
.input-invalid {
    color: red;
    transition: all 0.2s ease;
}

