.puzzle-description {
    font-size: 1.8vw;   /*  1.5em; */
    margin: 0.5vw;
}
.mini-license-plate {
    font-size: 1.8vw;   /*  1.5em; */
    border-radius: 0.5vw;
    width: 12vw;    /* 150px; */
    height: 3vw;    /* 40px; */
    padding: 0.2vw;
    margin: 0.2vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    color: rgb(21, 98, 241);
    background-color: rgb(231, 247, 248);
    border: thin solid darkblue;
}

