.start-new-game-control {
    font-size: 1.8vw;    /* 1.2em; */
    border-radius: 0.2vw;
}

.user-specified-text-input {
    width: 5.3vw;    /* 3em; */
}

.start-user-specified-game-button {
    width: 20vw;    /* 11em; */
}