.system-messages-size {
    height: 5vw;
}

.display-block {
    display: block flow;
}

.game-description-message {
    font-size: 1.6vw;   /* 1.2em; */
}

.remote-request-message {
    font-family: Verdana;
    font-weight: strong;
    font-size: 1.6vw;   /* 1.2em; */
}
