.top-of-license-frame {
    display: grid; 
    grid-template-columns: 50fr 3fr 47fr;
    grid-gap: 0px; 
    padding: 5px;
    /* margin: 0 auto; */
    /* border: 1px solid grey; */
}
.top-of-license-frame-child {
    margin: 5px;   
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .top-of-license-frame-gap {
    border: 1px solid green;
} */
